.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 120px 120px; 
  gap: 15px;
}

.box {
  min-height: 120px;

  border-radius: 8px;
}

/* CORES */
.red { background: #b30000; }
.blue { background: #0a0a8f; }
.green { background: #0b6b0b; }
.purple { background: purple; }
.orange { background: orange; }


.red {
  grid-column: 1 / 4; 
}

.green {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.purple {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.blue {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.orange {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .box {
    grid-column: auto !important;
    grid-row: auto !important;
  }
}