* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "Georgia", serif;
}

.hero {
  height: 100vh;
  background: url('nebulosa.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.card {
  width: 300px;
  padding: 25px;
  color: white;

  background: rgba(0, 0, 0, 0.75);  
  border: 5px solid #d28b3c;  
  border-radius: 25px;

  backdrop-filter: blur(4px);  
}
.card h2 {
  margin-bottom: 15px;
  font-size: 24px;
}
.card p {
  font-size: 15px;
  line-height: 1.6;
}